This notebook aims to join all the data from the different sources. This includes rental data, population and income data, various distance data, etc.

First, we want to join the population data with the rental data. The population data is contained in 2 files, one contains the actual census data and the other file contains the forecasted populations.

In [3]:
import pandas as pd
population_df = pd.read_excel('../data/curated/population_data.xlsx', sheet_name='Table 2.2')

Simple preprocessing for the census data to prepare it for the join

In [4]:
row = population_df.iloc[7] 
null_columns = [idx for idx, val in enumerate(row) if pd.isnull(val)]
years = [2011, 2012, 2013, 2014,2015, 2016,2017,2018,2019,2020,2021,2022] 

df_first_row = population_df.iloc[5].copy()

# Step 1: Rename NaN entries in the first row
df_first_row[population_df.columns.get_loc('Unnamed: 1')] = 'suburb'

for i, year in enumerate(years):
    base_index = 2 + (i * 4)  # Start at 2 and increment by 4 for each year
    
    df_first_row[population_df.columns.get_loc(f"Unnamed: {base_index}")] = f"population_{year}"
    df_first_row[population_df.columns.get_loc(f"Unnamed: {base_index + 1}")] = f'Births_{year}'
    df_first_row[population_df.columns.get_loc(f'Unnamed: {base_index + 2}')] = f'Total_fertility_rate_{year}'


population_df.iloc[5] = df_first_row

# Step 2: Set the 5th row (index 5) as the header
population_df.columns = population_df.iloc[5]  # Use the 5th row as the new header
population_df = population_df.drop(5)  # Drop the row that has been used as the header

population_df = population_df.iloc[6:]
population_df = population_df.reset_index(drop = True)
population_df = population_df.dropna(axis = 1, how = 'all')
population_df = population_df.dropna()

# Rename the second column in the DataFrame
population_df.rename(columns={population_df.columns[0]: 'sa2_code'}, inplace=True)

# Display the resulting DataFrame
population_df.head(10)

/tmp/ipykernel_379668/2592622724.py:8: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_first_row[population_df.columns.get_loc('Unnamed: 1')] = 'suburb'
/tmp/ipykernel_379668/2592622724.py:13: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_first_row[population_df.columns.get_loc(f"Unnamed: {base_index}")] = f"population_{year}"
/tmp/ipykernel_379668/2592622724.py:14: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_first_row[population_df.columns.get_loc(f"Unnamed: {base_index + 1}")] = f'Births_{year}'
/tmp/ipykernel_379668/2592622724.py:15: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_first_row[population_df.columns.get_loc(f'Unnamed: {base_index + 2}')] = f'Total_fertility_rate_{year}'

5,sa2_code,suburb,population_2011,Births_2011,Total_fertility_rate_2011,population_2012,Births_2012,Total_fertility_rate_2012,population_2013,Births_2013,...,Total_fertility_rate_2019,population_2020,Births_2020,Total_fertility_rate_2020,population_2021,Births_2021,Total_fertility_rate_2021,population_2022,Births_2022,Total_fertility_rate_2022
0,206011106,Brunswick East,8966,102,np,9208,116,np,9870,105,...,0.87,13064,116,0.78,12964,143,0.77,13296,143,0.75
1,206011107,Brunswick West,13864,180,np,13963,199,np,14057,184,...,1.12,15010,169,1.07,14497,159,1.07,14684,134,0.98
2,206011109,Pascoe Vale South,9860,145,np,9954,135,np,10038,121,...,1.6,10836,101,1.42,10463,113,1.46,10413,104,1.41
3,206011495,Brunswick - North,11981,192,np,12254,173,np,12548,167,...,1.17,14124,142,1.07,13077,129,0.99,13254,129,0.92
4,206011496,Brunswick - South,12006,159,np,12402,153,np,12836,165,...,1.01,14235,155,0.97,13208,134,0.92,13364,117,0.84
5,206011497,Coburg - East,12236,181,np,12483,191,np,12655,163,...,1.3,13265,158,1.23,12675,144,1.18,12949,153,1.15
6,206011498,Coburg - West,13998,226,np,14057,243,np,14188,196,...,1.68,14523,172,1.55,14184,179,1.54,14102,146,1.41
7,20601,Brunswick - Coburg,82911,1185,np,84321,1210,np,86192,1101,...,1.18,95057,1013,1.09,91068,1001,1.07,92062,926,1
8,206021110,Alphington - Fairfield,8561,96,np,8706,118,np,8827,105,...,1.24,9538,90,1.14,9069,98,1.19,9156,94,1.14
9,206021112,Thornbury,18258,275,np,18484,316,np,18773,279,...,1.34,19791,236,1.25,19153,214,1.18,19177,224,1.12
10,206021499,Northcote - East,14727,191,np,14881,213,np,15132,191,...,1.1,16183,151,1.03,15229,154,1.03,15131,147,1.05
11,206021500,Northcote - West,9425,153,np,9538,140,np,9850,124,...,1.1,10887,92,1.05,10424,82,0.94,10480,90,0.84
12,20602,Darebin - South,50971,715,np,51609,787,np,52582,699,...,1.21,56399,569,1.13,53875,548,1.09,53944,555,1.04
13,206031113,Ascot Vale,14135,257,np,14309,238,np,14491,236,...,1.8,15784,207,1.67,15351,223,1.61,15179,192,1.5
14,206031115,Flemington,9547,141,np,9791,182,np,10068,169,...,1.37,10270,128,1.31,9181,121,1.2,9188,114,1.18
15,206031116,Moonee Ponds,14168,183,np,14436,218,np,14666,172,...,1.35,16639,168,1.23,16400,156,1.23,16579,141,1.05
16,206031501,Essendon (West) - Aberfeldie,14803,127,np,15048,141,np,15304,128,...,1.16,16920,133,1.09,16175,137,1.17,16176,128,1.21
17,206031502,Essendon - East,11042,116,np,11121,115,np,11327,126,...,1.1,12763,105,1.01,12314,108,1.01,12288,105,0.96
18,20603,Essendon,63695,824,np,64705,894,np,65856,831,...,1.37,72376,741,1.27,69421,745,1.25,69410,680,1.18
19,206041117,Carlton,15122,125,np,15605,113,np,16719,111,...,0.68,20865,92,0.55,17064,88,0.54,18004,93,0.56
20,206041118,Docklands,6196,57,np,6802,67,np,7988,97,...,0.88,16671,163,0.83,15905,215,0.85,16456,154,0.78
21,206041119,East Melbourne,5238,48,np,5280,46,np,5333,44,...,0.65,5383,39,0.71,4959,28,0.64,4884,35,0.72
22,206041120,Flemington Racecourse,86,0,np,87,0,np,88,0,...,np,81,3,np,78,0,np,78,0,np
23,206041121,Kensington (Vic.),10259,195,np,10487,186,np,10762,182,...,1.23,11416,154,1.17,10872,159,1.22,11000,142,1.19
24,206041124,Parkville,6551,41,np,6872,37,np,7174,40,...,0.8,8318,59,0.84,7428,51,0.82,7462,37,0.84
25,206041125,South Yarra - West,6426,60,np,6400,57,np,6393,50,...,0.86,6960,109,0.99,6536,90,1.14,6565,61,1.23
26,206041127,West Melbourne - Industrial,0,0,np,0,0,np,0,0,...,np,0,0,np,0,0,np,0,0,np
27,206041503,Melbourne CBD - East,7939,47,np,8374,57,np,9646,49,...,0.61,12346,50,0.53,10119,54,0.44,10655,56,0.45
28,206041504,Melbourne CBD - North,6401,43,np,7880,50,np,9591,39,...,0.52,19155,45,0.42,17360,66,0.3,18826,78,0.34
29,206041505,Melbourne CBD - West,7475,66,np,8628,45,np,10413,64,...,0.45,18796,92,0.44,16098,95,0.41,17299,74,0.38
30,206041506,North Melbourne,12629,132,np,13321,169,np,14175,150,...,0.88,18154,153,0.86,15945,131,0.8,16582,115,0.75
31,206041507,Royal Botanic Gardens Victoria,0,0,np,0,0,np,0,0,...,np,0,0,np,0,0,np,0,0,np
32,206041508,Southbank (West) - South Wharf,4759,48,np,5350,47,np,6091,44,...,0.78,7551,57,0.75,6607,54,0.71,6814,37,0.57
33,206041509,Southbank - East,7415,69,np,8396,90,np,9873,102,...,0.66,17305,132,0.64,16506,149,0.62,17340,152,0.62
34,206041510,West Melbourne - Residential,3732,37,np,4091,51,np,4461,29,...,0.68,7567,62,0.69,7614,73,0.64,8014,53,0.63
35,20604,Melbourne City,100228,968,np,107573,1015,np,118707,1001,...,0.73,170568,1210,0.69,153091,1253,0.67,159979,1087,0.65
36,206051128,Albert Park,15009,213,np,15142,205,np,15282,193,...,1.3,16955,176,1.27,16011,169,1.24,16161,139,1.19
37,206051129,Elwood,15666,211,np,15807,232,np,15910,248,...,1.16,15925,163,1.13,15032,181,1.07,14873,182,1.02
38,206051130,Port Melbourne,15413,235,np,15964,235,np,16498,262,...,1.34,16998,182,1.23,16366,176,1.24,16376,188,1.29
39,206051134,St Kilda East,16686,261,np,16755,252,np,16912,231,...,1.19,17259,221,1.13,16073,190,1.09,15989,162,1.01
40,206051511,Port Melbourne Industrial,71,0,np,79,0,np,88,4,...,np,1709,14,0.72,1944,23,0.71,2228,22,0.72
41,206051512,South Melbourne,10340,139,np,10927,144,np,11452,151,...,1.19,12721,130,1.11,11856,108,1.01,11873,114,1.03
42,206051513,St Kilda - Central,10751,104,np,11323,137,np,11798,106,...,0.84,13380,129,0.83,12086,107,0.78,12241,123,0.8
43,206051514,St Kilda - West,13340,111,np,13910,126,np,14229,109,...,0.87,15648,109,0.82,14090,133,0.79,14264,115,0.75
44,20605,Port Phillip,97276,1274,np,99907,1331,np,102169,1304,...,1.12,110595,1124,1.06,103458,1087,1.02,104005,1045,0.99
45,206061135,Armadale,9301,95,np,9308,124,np,9338,126,...,1.24,10075,98,1.1,9433,100,1.11,9369,83,1.05
46,206061136,Prahran - Windsor,18738,212,np,19401,220,np,19977,256,...,0.99,20847,213,0.95,19444,223,0.97,19269,196,0.93
47,206061138,Toorak,13768,97,np,13795,93,np,13841,89,...,1.02,13644,76,0.99,13096,93,0.99,13118,95,1.04
48,206061515,South Yarra - North,6320,55,np,7357,71,np,8102,55,...,0.75,12223,78,0.62,11449,87,0.63,11779,66,0.55
49,206061516,South Yarra - South,9458,119,np,9759,137,np,9960,119,...,0.98,11285,88,0.88,10097,103,0.85,9946,87,0.79

In [5]:
# Load the CSV file into a DataFrame
csv_file_path = '../data/curated/forecasted_populations.csv'
population_forecast = pd.read_csv(csv_file_path)

In [6]:
import numpy as np

# Add columns for future population forecasts if they don't exist in population_df
for year in range(2023, 2028):
    population_col_name = f'population_{year}'
    if population_col_name not in population_df.columns:
        population_df[population_col_name] = np.nan  # Initialize with NaN

In [7]:
population_forecast.head()

,Unnamed: 0,Code,Suburb,2023_Forecast,2024_Forecast,2025_Forecast,2026_Forecast,2027_Forecast
0,0,206011106,Brunswick East,13690,14083,14477,14871,15264
1,1,206011107,Brunswick West,14684,14684,14684,14684,14684
2,2,206011109,Pascoe Vale South,10388,10375,10368,10364,10363
3,3,206011495,Brunswick - North,13254,13254,13254,13254,13254
4,4,206011496,Brunswick - South,13364,13364,13364,13364,13364

Add the forecasted populations to the original census dataframe so that the population data is complete for every SA2

In [8]:
# Ensure the 'Code' and 'sa2_code' columns are of the same type (string)
population_df['sa2_code'] = population_df['sa2_code'].astype(str)
population_forecast['Code'] = population_forecast['Code'].astype(str)

# Debugging: Track if matches are found
matches_found = 0

# Iterate through each row in the population_forecast DataFrame
for index, row in population_forecast.iterrows():
    code = row['Code']
    
    # Find the matching row in population_df based on 'sa2_code'
    matching_index = population_df[population_df['sa2_code'] == code].index
    
    # Debugging: Check if the match was successful
    if not matching_index.empty:
        print(f"Match found for Code {code} at index {matching_index[0]}")
        matches_found += 1
        
        # Add the forecast columns to the matched row in population_df
        for year in range(2023, 2028):  # Iterating through 2023 to 2027
            # Correctly reference the column name in population_forecast
            forecast_col_name = f'{year}_Forecast'
            
            # Update the population_df only if the forecast column exists in population_forecast
            if forecast_col_name in population_forecast.columns:
                population_df.at[matching_index[0], f'population_{year}'] = row[forecast_col_name]
    else:
        print(f"No match found for Code {code}")

# Display the resulting DataFrame and number of matches found
print(f"Total matches found: {matches_found}")

# Display the resulting DataFrame
population_df.head(50)

Match found for Code 206011106 at index 0
Match found for Code 206011107 at index 1
Match found for Code 206011109 at index 2
Match found for Code 206011495 at index 3
Match found for Code 206011496 at index 4
Match found for Code 206011497 at index 5
Match found for Code 206011498 at index 6
Match found for Code 20601 at index 7
Match found for Code 206021110 at index 8
Match found for Code 206021112 at index 9
Match found for Code 206021499 at index 10
Match found for Code 206021500 at index 11
Match found for Code 20602 at index 12
Match found for Code 206031113 at index 13
Match found for Code 206031115 at index 14
Match found for Code 206031116 at index 15
Match found for Code 206031501 at index 16
Match found for Code 206031502 at index 17
Match found for Code 20603 at index 18
Match found for Code 206041117 at index 19
Match found for Code 206041118 at index 20
Match found for Code 206041119 at index 21
Match found for Code 206041120 at index 22
Match found for Code 206041121 at index 23
Match found for Code 206041124 at index 24
Match found for Code 206041125 at index 25
Match found for Code 206041127 at index 26
Match found for Code 206041503 at index 27
Match found for Code 206041504 at index 28
Match found for Code 206041505 at index 29
Match found for Code 206041506 at index 30
Match found for Code 206041507 at index 31
Match found for Code 206041508 at index 32
Match found for Code 206041509 at index 33
Match found for Code 206041510 at index 34
Match found for Code 20604 at index 35
Match found for Code 206051128 at index 36
Match found for Code 206051129 at index 37
Match found for Code 206051130 at index 38
Match found for Code 206051134 at index 39
Match found for Code 206051511 at index 40
Match found for Code 206051512 at index 41
Match found for Code 206051513 at index 42
Match found for Code 206051514 at index 43
Match found for Code 20605 at index 44
Match found for Code 206061135 at index 45
Match found for Code 206061136 at index 46
Match found for Code 206061138 at index 47
Match found for Code 206061515 at index 48
Match found for Code 206061516 at index 49
Match found for Code 20606 at index 50
Match found for Code 206071139 at index 51
Match found for Code 206071140 at index 52
Match found for Code 206071141 at index 53
Match found for Code 206071142 at index 54
Match found for Code 206071143 at index 55
Match found for Code 206071145 at index 56
Match found for Code 206071517 at index 57
Match found for Code 206071518 at index 58
Match found for Code 20607 at index 59
Match found for Code 206 at index 60
Match found for Code 207011146 at index 61
Match found for Code 207011147 at index 62
Match found for Code 207011148 at index 63
Match found for Code 207011149 at index 64
Match found for Code 207011150 at index 65
Match found for Code 207011152 at index 66
Match found for Code 207011154 at index 67
Match found for Code 207011155 at index 68
Match found for Code 207011519 at index 69
Match found for Code 207011520 at index 70
Match found for Code 207011521 at index 71
Match found for Code 207011522 at index 72
Match found for Code 20701 at index 73
Match found for Code 207021156 at index 74
Match found for Code 207021157 at index 75
Match found for Code 207021159 at index 76
Match found for Code 207021160 at index 77
Match found for Code 207021424 at index 78
Match found for Code 207021425 at index 79
Match found for Code 20702 at index 80
Match found for Code 207031161 at index 81
Match found for Code 207031162 at index 82
Match found for Code 207031163 at index 83
Match found for Code 207031164 at index 84
Match found for Code 207031165 at index 85
Match found for Code 207031166 at index 86
Match found for Code 207031167 at index 87
Match found for Code 20703 at index 88
Match found for Code 207 at index 89
Match found for Code 208011168 at index 90
Match found for Code 208011169 at index 91
Match found for Code 208011170 at index 92
Match found for Code 208011171 at index 93
Match found for Code 208011172 at index 94
Match found for Code 208011173 at index 95
Match found for Code 20801 at index 96
Match found for Code 208021174 at index 97
Match found for Code 208021176 at index 98
Match found for Code 208021177 at index 99
Match found for Code 208021178 at index 100
Match found for Code 208021179 at index 101
Match found for Code 208021180 at index 102
Match found for Code 208021181 at index 103
Match found for Code 208021182 at index 104
Match found for Code 208021426 at index 105
Match found for Code 208021427 at index 106
Match found for Code 20802 at index 107
Match found for Code 208031183 at index 108
Match found for Code 208031184 at index 109
Match found for Code 208031185 at index 110
Match found for Code 208031186 at index 111
Match found for Code 208031187 at index 112
Match found for Code 208031188 at index 113
Match found for Code 208031189 at index 114
Match found for Code 208031190 at index 115
Match found for Code 208031191 at index 116
Match found for Code 208031192 at index 117
Match found for Code 208031193 at index 118
Match found for Code 20803 at index 119
Match found for Code 208041194 at index 120
Match found for Code 208041195 at index 121
Match found for Code 20804 at index 122
Match found for Code 208 at index 123
Match found for Code 209011196 at index 124
Match found for Code 209011197 at index 125
Match found for Code 209011198 at index 126
Match found for Code 209011199 at index 127
Match found for Code 209011200 at index 128
Match found for Code 209011201 at index 129
Match found for Code 209011202 at index 130
Match found for Code 209011203 at index 131
Match found for Code 209011204 at index 132
Match found for Code 20901 at index 133
Match found for Code 209021205 at index 134
Match found for Code 209021428 at index 135
Match found for Code 209021429 at index 136
Match found for Code 209021523 at index 137
Match found for Code 209021524 at index 138
Match found for Code 209021525 at index 139
Match found for Code 209021526 at index 140
Match found for Code 20902 at index 141
Match found for Code 209031209 at index 142
Match found for Code 209031210 at index 143
Match found for Code 209031211 at index 144
Match found for Code 209031212 at index 145
Match found for Code 209031213 at index 146
Match found for Code 209031214 at index 147
Match found for Code 209031215 at index 148
Match found for Code 20903 at index 149
Match found for Code 209041216 at index 150
Match found for Code 209041217 at index 151
Match found for Code 209041220 at index 152
Match found for Code 209041221 at index 153
Match found for Code 209041223 at index 154
Match found for Code 209041224 at index 155
Match found for Code 209041225 at index 156
Match found for Code 209041431 at index 157
Match found for Code 209041432 at index 158
Match found for Code 209041433 at index 159
Match found for Code 209041435 at index 160
Match found for Code 209041436 at index 161
Match found for Code 209041437 at index 162
Match found for Code 209041527 at index 163
Match found for Code 209041528 at index 164
Match found for Code 209041529 at index 165
Match found for Code 209041530 at index 166
Match found for Code 209041531 at index 167
Match found for Code 209041532 at index 168
Match found for Code 20904 at index 169
Match found for Code 209 at index 170
Match found for Code 210011226 at index 171
Match found for Code 210011227 at index 172
Match found for Code 210011228 at index 173
Match found for Code 210011230 at index 174
Match found for Code 210011231 at index 175
Match found for Code 210011533 at index 176
Match found for Code 210011534 at index 177
Match found for Code 21001 at index 178
Match found for Code 210021232 at index 179
Match found for Code 210021233 at index 180
Match found for Code 210021234 at index 181
Match found for Code 210021235 at index 182
Match found for Code 21002 at index 183
Match found for Code 210031236 at index 184
Match found for Code 210031237 at index 185
Match found for Code 210031439 at index 186
Match found for Code 210031440 at index 187
Match found for Code 210031535 at index 188
Match found for Code 210031536 at index 189
Match found for Code 210031537 at index 190
Match found for Code 210031538 at index 191
Match found for Code 21003 at index 192
Match found for Code 210041240 at index 193
Match found for Code 210041539 at index 194
Match found for Code 210041540 at index 195
Match found for Code 210041541 at index 196
Match found for Code 21004 at index 197
Match found for Code 210051242 at index 198
Match found for Code 210051243 at index 199
Match found for Code 210051245 at index 200
Match found for Code 210051246 at index 201
Match found for Code 210051247 at index 202
Match found for Code 210051248 at index 203
Match found for Code 210051250 at index 204
Match found for Code 210051441 at index 205
Match found for Code 210051442 at index 206
Match found for Code 210051443 at index 207
Match found for Code 210051445 at index 208
Match found for Code 210051542 at index 209
Match found for Code 210051543 at index 210
Match found for Code 210051544 at index 211
Match found for Code 210051545 at index 212
Match found for Code 21005 at index 213
Match found for Code 210 at index 214
Match found for Code 211011251 at index 215
Match found for Code 211011254 at index 216
Match found for Code 211011255 at index 217
Match found for Code 211011256 at index 218
Match found for Code 211011257 at index 219
Match found for Code 211011258 at index 220
Match found for Code 211011259 at index 221
Match found for Code 211011260 at index 222
Match found for Code 211011446 at index 223
Match found for Code 211011447 at index 224
Match found for Code 211011448 at index 225
Match found for Code 211011449 at index 226
Match found for Code 21101 at index 227
Match found for Code 211021261 at index 228
Match found for Code 211021262 at index 229
Match found for Code 21102 at index 230
Match found for Code 211031263 at index 231
Match found for Code 211031265 at index 232
Match found for Code 211031266 at index 233
Match found for Code 211031267 at index 234
Match found for Code 211031268 at index 235
Match found for Code 211031450 at index 236
Match found for Code 211031451 at index 237
Match found for Code 211031452 at index 238
Match found for Code 21103 at index 239
Match found for Code 211041269 at index 240
Match found for Code 211041270 at index 241
Match found for Code 211041271 at index 242
Match found for Code 211041272 at index 243
Match found for Code 211041273 at index 244
Match found for Code 21104 at index 245
Match found for Code 211051274 at index 246
Match found for Code 211051275 at index 247
Match found for Code 211051276 at index 248
Match found for Code 211051277 at index 249
Match found for Code 211051278 at index 250
Match found for Code 211051279 at index 251
Match found for Code 211051280 at index 252
Match found for Code 211051281 at index 253
Match found for Code 211051282 at index 254
Match found for Code 211051283 at index 255
Match found for Code 211051284 at index 256
Match found for Code 211051285 at index 257
Match found for Code 211051286 at index 258
Match found for Code 21105 at index 259
Match found for Code 211 at index 260
Match found for Code 212011289 at index 261
Match found for Code 212011546 at index 262
Match found for Code 212011547 at index 263
Match found for Code 212011548 at index 264
Match found for Code 212011549 at index 265
Match found for Code 212011550 at index 266
Match found for Code 212011551 at index 267
Match found for Code 212011552 at index 268
Match found for Code 21201 at index 269
Match found for Code 212021293 at index 270
Match found for Code 212021295 at index 271
Match found for Code 212021297 at index 272
Match found for Code 212021299 at index 273
Match found for Code 212021453 at index 274
Match found for Code 212021454 at index 275
Match found for Code 212021455 at index 276
Match found for Code 212021456 at index 277
Match found for Code 212021553 at index 278
Match found for Code 212021554 at index 279
Match found for Code 21202 at index 280
Match found for Code 212031300 at index 281
Match found for Code 212031303 at index 282
Match found for Code 212031304 at index 283
Match found for Code 212031306 at index 284
Match found for Code 212031308 at index 285
Match found for Code 212031457 at index 286
Match found for Code 212031458 at index 287
Match found for Code 212031555 at index 288
Match found for Code 212031556 at index 289
Match found for Code 212031557 at index 290
Match found for Code 212031558 at index 291
Match found for Code 212031559 at index 292
Match found for Code 212031560 at index 293
Match found for Code 212031561 at index 294
Match found for Code 212031562 at index 295
Match found for Code 21203 at index 296
Match found for Code 212041309 at index 297
Match found for Code 212041310 at index 298
Match found for Code 212041312 at index 299
Match found for Code 212041313 at index 300
Match found for Code 212041316 at index 301
Match found for Code 212041317 at index 302
Match found for Code 212041318 at index 303
Match found for Code 212041459 at index 304
Match found for Code 212041460 at index 305
Match found for Code 212041563 at index 306
Match found for Code 212041564 at index 307
Match found for Code 212041565 at index 308
Match found for Code 212041566 at index 309
Match found for Code 21204 at index 310
Match found for Code 212051319 at index 311
Match found for Code 212051321 at index 312
Match found for Code 212051322 at index 313
Match found for Code 212051323 at index 314
Match found for Code 212051324 at index 315
Match found for Code 212051325 at index 316
Match found for Code 212051326 at index 317
Match found for Code 212051327 at index 318
Match found for Code 212051567 at index 319
Match found for Code 212051568 at index 320
Match found for Code 21205 at index 321
Match found for Code 212 at index 322
Match found for Code 213011328 at index 323
Match found for Code 213011329 at index 324
Match found for Code 213011331 at index 325
Match found for Code 213011332 at index 326
Match found for Code 213011333 at index 327
Match found for Code 213011334 at index 328
Match found for Code 213011335 at index 329
Match found for Code 213011336 at index 330
Match found for Code 213011337 at index 331
Match found for Code 213011338 at index 332
Match found for Code 213011339 at index 333
Match found for Code 213011340 at index 334
Match found for Code 213011569 at index 335
Match found for Code 213011570 at index 336
Match found for Code 21301 at index 337
Match found for Code 213021341 at index 338
Match found for Code 213021342 at index 339
Match found for Code 213021343 at index 340
Match found for Code 213021344 at index 341
Match found for Code 213021345 at index 342
Match found for Code 213021346 at index 343
Match found for Code 21302 at index 344
Match found for Code 213031347 at index 345
Match found for Code 213031348 at index 346
Match found for Code 213031349 at index 347
Match found for Code 213031350 at index 348
Match found for Code 213031351 at index 349
Match found for Code 213031352 at index 350
Match found for Code 21303 at index 351
Match found for Code 213041353 at index 352
Match found for Code 213041358 at index 353
Match found for Code 213041359 at index 354
Match found for Code 213041360 at index 355
Match found for Code 213041461 at index 356
Match found for Code 213041462 at index 357
Match found for Code 213041463 at index 358
Match found for Code 213041571 at index 359
Match found for Code 213041572 at index 360
Match found for Code 213041573 at index 361
Match found for Code 213041574 at index 362
Match found for Code 213041575 at index 363
Match found for Code 213041576 at index 364
Match found for Code 213041577 at index 365
Match found for Code 213041578 at index 366
Match found for Code 21304 at index 367
Match found for Code 213051361 at index 368
Match found for Code 213051362 at index 369
Match found for Code 213051363 at index 370
Match found for Code 213051368 at index 371
Match found for Code 213051464 at index 372
Match found for Code 213051466 at index 373
Match found for Code 213051467 at index 374
Match found for Code 213051468 at index 375
Match found for Code 213051579 at index 376
Match found for Code 213051580 at index 377
Match found for Code 213051581 at index 378
Match found for Code 213051582 at index 379
Match found for Code 213051583 at index 380
Match found for Code 213051584 at index 381
Match found for Code 213051585 at index 382
Match found for Code 213051586 at index 383
Match found for Code 213051587 at index 384
Match found for Code 213051588 at index 385
Match found for Code 213051589 at index 386
Match found for Code 213051590 at index 387
Match found for Code 21305 at index 388
Match found for Code 213 at index 389
Match found for Code 214011370 at index 390
Match found for Code 214011371 at index 391
Match found for Code 214011372 at index 392
Match found for Code 214011373 at index 393
Match found for Code 214011374 at index 394
Match found for Code 214011375 at index 395
Match found for Code 214011376 at index 396
Match found for Code 21401 at index 397
Match found for Code 214021377 at index 398
Match found for Code 214021378 at index 399
Match found for Code 214021379 at index 400
Match found for Code 214021381 at index 401
Match found for Code 214021382 at index 402
Match found for Code 214021383 at index 403
Match found for Code 214021384 at index 404
Match found for Code 214021385 at index 405
Match found for Code 214021591 at index 406
Match found for Code 214021592 at index 407
Match found for Code 21402 at index 408
Match found for Code 214 at index 409
Match found for Code 2GMEL at index 410
Match found for Code 201011001 at index 411
Match found for Code 201011002 at index 412
Match found for Code 201011005 at index 413
Match found for Code 201011006 at index 414
Match found for Code 201011007 at index 415
Match found for Code 201011008 at index 416
Match found for Code 201011481 at index 417
Match found for Code 201011482 at index 418
Match found for Code 201011483 at index 419
Match found for Code 201011484 at index 420
Match found for Code 20101 at index 421
Match found for Code 201021009 at index 422
Match found for Code 201021010 at index 423
Match found for Code 201021011 at index 424
Match found for Code 201021012 at index 425
Match found for Code 20102 at index 426
Match found for Code 201031013 at index 427
Match found for Code 201031014 at index 428
Match found for Code 201031015 at index 429
Match found for Code 201031016 at index 430
Match found for Code 201031017 at index 431
Match found for Code 20103 at index 432
Match found for Code 201 at index 433
Match found for Code 202011018 at index 434
Match found for Code 202011019 at index 435
Match found for Code 202011020 at index 436
Match found for Code 202011021 at index 437
Match found for Code 202011022 at index 438
Match found for Code 202011023 at index 439
Match found for Code 202011024 at index 440
Match found for Code 202011025 at index 441
Match found for Code 20201 at index 442
Match found for Code 202021026 at index 443
Match found for Code 202021027 at index 444
Match found for Code 202021028 at index 445
Match found for Code 202021029 at index 446
Match found for Code 202021030 at index 447
Match found for Code 202021031 at index 448
Match found for Code 20202 at index 449
Match found for Code 202031032 at index 450
Match found for Code 202031033 at index 451
Match found for Code 20203 at index 452
Match found for Code 202 at index 453
Match found for Code 203011034 at index 454
Match found for Code 203011035 at index 455
Match found for Code 203011036 at index 456
Match found for Code 20301 at index 457
Match found for Code 203021037 at index 458
Match found for Code 203021039 at index 459
Match found for Code 203021040 at index 460
Match found for Code 203021042 at index 461

5,sa2_code,suburb,population_2011,Births_2011,Total_fertility_rate_2011,population_2012,Births_2012,Total_fertility_rate_2012,population_2013,Births_2013,...,Births_2021,Total_fertility_rate_2021,population_2022,Births_2022,Total_fertility_rate_2022,population_2023,population_2024,population_2025,population_2026,population_2027
0,206011106,Brunswick East,8966,102,np,9208,116,np,9870,105,...,143,0.77,13296,143,0.75,13690.0,14083.0,14477.0,14871.0,15264.0
1,206011107,Brunswick West,13864,180,np,13963,199,np,14057,184,...,159,1.07,14684,134,0.98,14684.0,14684.0,14684.0,14684.0,14684.0
2,206011109,Pascoe Vale South,9860,145,np,9954,135,np,10038,121,...,113,1.46,10413,104,1.41,10388.0,10375.0,10368.0,10364.0,10363.0
3,206011495,Brunswick - North,11981,192,np,12254,173,np,12548,167,...,129,0.99,13254,129,0.92,13254.0,13254.0,13254.0,13254.0,13254.0
4,206011496,Brunswick - South,12006,159,np,12402,153,np,12836,165,...,134,0.92,13364,117,0.84,13364.0,13364.0,13364.0,13364.0,13364.0
5,206011497,Coburg - East,12236,181,np,12483,191,np,12655,163,...,144,1.18,12949,153,1.15,12949.0,12949.0,12949.0,12949.0,12949.0
6,206011498,Coburg - West,13998,226,np,14057,243,np,14188,196,...,179,1.54,14102,146,1.41,14058.0,14035.0,14022.0,14015.0,14012.0
7,20601,Brunswick - Coburg,82911,1185,np,84321,1210,np,86192,1101,...,1001,1.07,92062,926,1,92894.0,93726.0,94558.0,95390.0,96222.0
8,206021110,Alphington - Fairfield,8561,96,np,8706,118,np,8827,105,...,98,1.19,9156,94,1.14,9156.0,9156.0,9156.0,9156.0,9156.0
9,206021112,Thornbury,18258,275,np,18484,316,np,18773,279,...,214,1.18,19177,224,1.12,19177.0,19177.0,19177.0,19177.0,19177.0
10,206021499,Northcote - East,14727,191,np,14881,213,np,15132,191,...,154,1.03,15131,147,1.05,15131.0,15131.0,15131.0,15131.0,15131.0
11,206021500,Northcote - West,9425,153,np,9538,140,np,9850,124,...,82,0.94,10480,90,0.84,10576.0,10672.0,10768.0,10864.0,10960.0
12,20602,Darebin - South,50971,715,np,51609,787,np,52582,699,...,548,1.09,53944,555,1.04,53944.0,53944.0,53944.0,53944.0,53944.0
13,206031113,Ascot Vale,14135,257,np,14309,238,np,14491,236,...,223,1.61,15179,192,1.5,15078.0,15019.0,14984.0,14964.0,14952.0
14,206031115,Flemington,9547,141,np,9791,182,np,10068,169,...,121,1.2,9188,114,1.18,9188.0,9188.0,9188.0,9188.0,9188.0
15,206031116,Moonee Ponds,14168,183,np,14436,218,np,14666,172,...,156,1.23,16579,141,1.05,16798.0,17017.0,17237.0,17456.0,17675.0
16,206031501,Essendon (West) - Aberfeldie,14803,127,np,15048,141,np,15304,128,...,137,1.17,16176,128,1.21,16176.0,16176.0,16176.0,16176.0,16176.0
17,206031502,Essendon - East,11042,116,np,11121,115,np,11327,126,...,108,1.01,12288,105,0.96,12401.0,12515.0,12628.0,12741.0,12854.0
18,20603,Essendon,63695,824,np,64705,894,np,65856,831,...,745,1.25,69410,680,1.18,69410.0,69410.0,69410.0,69410.0,69410.0
19,206041117,Carlton,15122,125,np,15605,113,np,16719,111,...,88,0.54,18004,93,0.56,18004.0,18004.0,18004.0,18004.0,18004.0
20,206041118,Docklands,6196,57,np,6802,67,np,7988,97,...,215,0.85,16456,154,0.78,17389.0,18321.0,19254.0,20187.0,21120.0
21,206041119,East Melbourne,5238,48,np,5280,46,np,5333,44,...,28,0.64,4884,35,0.72,4884.0,4884.0,4884.0,4884.0,4884.0
22,206041120,Flemington Racecourse,86,0,np,87,0,np,88,0,...,0,np,78,0,np,78.0,78.0,78.0,78.0,78.0
23,206041121,Kensington (Vic.),10259,195,np,10487,186,np,10762,182,...,159,1.22,11000,142,1.19,11000.0,11000.0,11000.0,11000.0,11000.0
24,206041124,Parkville,6551,41,np,6872,37,np,7174,40,...,51,0.82,7462,37,0.84,7462.0,7462.0,7462.0,7462.0,7462.0
25,206041125,South Yarra - West,6426,60,np,6400,57,np,6393,50,...,90,1.14,6565,61,1.23,6565.0,6565.0,6565.0,6565.0,6565.0
26,206041127,West Melbourne - Industrial,0,0,np,0,0,np,0,0,...,0,np,0,0,np,0.0,0.0,0.0,0.0,0.0
27,206041503,Melbourne CBD - East,7939,47,np,8374,57,np,9646,49,...,54,0.44,10655,56,0.45,10655.0,10655.0,10655.0,10655.0,10655.0
28,206041504,Melbourne CBD - North,6401,43,np,7880,50,np,9591,39,...,66,0.3,18826,78,0.34,19956.0,21085.0,22215.0,23344.0,24474.0
29,206041505,Melbourne CBD - West,7475,66,np,8628,45,np,10413,64,...,95,0.41,17299,74,0.38,18192.0,19085.0,19978.0,20871.0,21764.0
30,206041506,North Melbourne,12629,132,np,13321,169,np,14175,150,...,131,0.8,16582,115,0.75,16582.0,16582.0,16582.0,16582.0,16582.0
31,206041507,Royal Botanic Gardens Victoria,0,0,np,0,0,np,0,0,...,0,np,0,0,np,0.0,0.0,0.0,0.0,0.0
32,206041508,Southbank (West) - South Wharf,4759,48,np,5350,47,np,6091,44,...,54,0.71,6814,37,0.57,6916.0,6966.0,6991.0,7003.0,7009.0
33,206041509,Southbank - East,7415,69,np,8396,90,np,9873,102,...,149,0.62,17340,152,0.62,18242.0,19145.0,20047.0,20949.0,21851.0
34,206041510,West Melbourne - Residential,3732,37,np,4091,51,np,4461,29,...,73,0.64,8014,53,0.63,8403.0,8793.0,9182.0,9571.0,9960.0
35,20604,Melbourne City,100228,968,np,107573,1015,np,118707,1001,...,1253,0.67,159979,1087,0.65,165411.0,170843.0,176275.0,181707.0,187139.0
36,206051128,Albert Park,15009,213,np,15142,205,np,15282,193,...,169,1.24,16161,139,1.19,16161.0,16161.0,16161.0,16161.0,16161.0
37,206051129,Elwood,15666,211,np,15807,232,np,15910,248,...,181,1.07,14873,182,1.02,14873.0,14873.0,14873.0,14873.0,14873.0
38,206051130,Port Melbourne,15413,235,np,15964,235,np,16498,262,...,176,1.24,16376,188,1.29,16382.0,16385.0,16387.0,16389.0,16389.0
39,206051134,St Kilda East,16686,261,np,16755,252,np,16912,231,...,190,1.09,15989,162,1.01,15989.0,15989.0,15989.0,15989.0,15989.0
40,206051511,Port Melbourne Industrial,71,0,np,79,0,np,88,4,...,23,0.71,2228,22,0.72,2508.0,2762.0,2987.0,3191.0,3382.0
41,206051512,South Melbourne,10340,139,np,10927,144,np,11452,151,...,108,1.01,11873,114,1.03,11881.0,11885.0,11886.0,11887.0,11888.0
42,206051513,St Kilda - Central,10751,104,np,11323,137,np,11798,106,...,107,0.78,12241,123,0.8,12241.0,12241.0,12241.0,12241.0,12241.0
43,206051514,St Kilda - West,13340,111,np,13910,126,np,14229,109,...,133,0.79,14264,115,0.75,14264.0,14264.0,14264.0,14264.0,14264.0
44,20605,Port Phillip,97276,1274,np,99907,1331,np,102169,1304,...,1087,1.02,104005,1045,0.99,104005.0,104005.0,104005.0,104005.0,104005.0
45,206061135,Armadale,9301,95,np,9308,124,np,9338,126,...,100,1.11,9369,83,1.05,9369.0,9369.0,9369.0,9369.0,9369.0
46,206061136,Prahran - Windsor,18738,212,np,19401,220,np,19977,256,...,223,0.97,19269,196,0.93,19269.0,19269.0,19269.0,19269.0,19269.0
47,206061138,Toorak,13768,97,np,13795,93,np,13841,89,...,93,0.99,13118,95,1.04,13118.0,13118.0,13118.0,13118.0,13118.0
48,206061515,South Yarra - North,6320,55,np,7357,71,np,8102,55,...,87,0.63,11779,66,0.55,11999.0,12145.0,12243.0,12308.0,12352.0
49,206061516,South Yarra - South,9458,119,np,9759,137,np,9960,119,...,103,0.85,9946,87,0.79,9946.0,9946.0,9946.0,9946.0,9946.0

Load the preprocessed rental data

In [9]:
# File path to the parquet file
listings_file = '../data/curated/preprocessed_rent_data.parquet'

# Load the parquet file into a DataFrame
rental_listings = pd.read_parquet(listings_file)

In [10]:
print(len(rental_listings))

196908

Perform some more preprocessing on rental data before it is joined

In [11]:
import pandas as pd

# Filter out rows with year before 2011
rental_listings = rental_listings[rental_listings['year'] >= 2011]

# Drop the specified columns
rental_listings = rental_listings.drop(columns=['is_new_development', 'propertyId', 'address'])

# Convert 'is_furnished' from boolean to 0 and 1
rental_listings['is_furnished'] = rental_listings['is_furnished'].astype(int)

# Display the first few rows of the filtered DataFrame
print(rental_listings.head())

   state          suburb  bedrooms  bathrooms        propertyTypes  carspaces  \
67   vic       Melbourne       1.0        1.0  [apartmentUnitFlat]        0.0
68   vic       Melbourne       2.0        1.0  [apartmentUnitFlat]        1.0
69   vic       Melbourne       1.0        1.0  [apartmentUnitFlat]        0.0
70   vic  Brunswick East       2.0        1.0  [apartmentUnitFlat]        1.0
71   vic  East Melbourne       2.0        1.0  [apartmentUnitFlat]        1.0

   date_listed   latitude   longitude  price  is_furnished  year  month  day  \
67  2011-01-15 -37.815016  144.965968  380.0             0  2011      1   15
68  2011-01-17 -37.816257  144.953288  550.0             0  2011      1   17
69  2011-01-17 -37.821294  144.955768  370.0             0  2011      1   17
70  2011-01-31 -37.760855  144.961691  429.0             0  2011      1   31
71  2011-02-14 -37.810074  144.985476  460.0             0  2011      2   14

   SA2_CODE21
67  206041503
68  206041505
69  206041505
70  206011495
71  206041119

Merge the rental data with the population data. For now this is only for the training data which is why only data upto 2024 is joined.

In [12]:
# Generate a list of population columns from 2011 to 2024
years = list(range(2011, 2025))

# Melt the DataFrame to long format
population_long_df = population_df.melt(
    id_vars=['sa2_code', 'suburb'],
    value_vars=[f'population_{year}' for year in years],
    var_name='year',
    value_name='population'
)

# Extract the year from the column name
population_long_df['year'] = population_long_df['year'].str.extract('(\d{4})').astype(int)

In [13]:
# Join the rental listings with the population data
merged_df = pd.merge(rental_listings, population_long_df, how='left', left_on=['SA2_CODE21', 'year'], right_on=['sa2_code', 'year'])

# Drop columns that were used for merging but are no longer needed
merged_df = merged_df.drop(columns=['sa2_code'])

# Display the first few rows of the merged DataFrame
print(merged_df.head(20))

   state        suburb_x  bedrooms  bathrooms        propertyTypes  carspaces  \
0    vic       Melbourne       1.0        1.0  [apartmentUnitFlat]        0.0
1    vic       Melbourne       2.0        1.0  [apartmentUnitFlat]        1.0
2    vic       Melbourne       1.0        1.0  [apartmentUnitFlat]        0.0
3    vic  Brunswick East       2.0        1.0  [apartmentUnitFlat]        1.0
4    vic  East Melbourne       2.0        1.0  [apartmentUnitFlat]        1.0
5    vic       Melbourne       1.0        1.0  [apartmentUnitFlat]        0.0
6    vic        St Kilda       2.0        1.0  [apartmentUnitFlat]        1.0
7    vic       Melbourne       1.0        1.0  [apartmentUnitFlat]        0.0
8    vic  Brunswick East       2.0        1.0  [apartmentUnitFlat]        1.0
9    vic  East Melbourne       2.0        1.0  [apartmentUnitFlat]        1.0
10   vic       Brunswick       2.0        1.0  [apartmentUnitFlat]        1.0
11   vic   St Kilda East       2.0        1.0  [apartmentUnitFlat]        1.0
12   vic       Brunswick       2.0        1.0  [apartmentUnitFlat]        1.0
13   vic       Melbourne       1.0        2.0  [apartmentUnitFlat]        1.0
14   vic       Melbourne       1.0        1.0  [apartmentUnitFlat]        1.0
15   vic     Collingwood       2.0        3.0  [apartmentUnitFlat]        2.0
16   vic  East Melbourne       1.0        2.0  [apartmentUnitFlat]        1.0
17   vic  East Melbourne       1.0        1.0  [apartmentUnitFlat]        1.0
18   vic       Melbourne       2.0        1.0  [apartmentUnitFlat]        0.0
19   vic       Melbourne       1.0        1.0  [apartmentUnitFlat]        0.0

   date_listed   latitude   longitude  price  is_furnished  year  month  day  \
0   2011-01-15 -37.815016  144.965968  380.0             0  2011      1   15
1   2011-01-17 -37.816257  144.953288  550.0             0  2011      1   17
2   2011-01-17 -37.821294  144.955768  370.0             0  2011      1   17
3   2011-01-31 -37.760855  144.961691  429.0             0  2011      1   31
4   2011-02-14 -37.810074  144.985476  460.0             0  2011      2   14
5   2011-02-24 -37.813778  144.952089  370.0             0  2011      2   24
6   2011-02-25 -37.860369  144.983355  479.0             0  2011      2   25
7   2011-03-01 -37.808157  144.961780  550.0             1  2011      3    1
8   2011-03-02 -37.760855  144.961691  430.0             0  2011      3    2
9   2011-03-04 -37.809764  144.986004  700.0             1  2011      3    4
10  2011-03-07 -37.760855  144.961691  460.0             0  2011      3    7
11  2011-03-21 -37.862919  145.009016  449.0             0  2011      3   21
12  2011-03-25 -37.760855  144.961691  410.0             0  2011      3   25
13  2011-04-08 -37.810127  144.972059  580.0             1  2011      4    8
14  2011-04-08 -37.821153  144.956585  400.0             0  2011      4    8
15  2011-04-27 -37.808893  144.990669  580.0             0  2011      4   27
16  2011-05-06 -37.809686  144.985257  500.0             0  2011      5    6
17  2011-05-09 -37.814939  144.989543  310.0             1  2011      5    9
18  2011-05-13 -37.816852  144.969178  575.0             0  2011      5   13
19  2011-05-13 -37.818582  144.960674  480.0             1  2011      5   13

   SA2_CODE21               suburb_y population
0   206041503   Melbourne CBD - East       7939
1   206041505   Melbourne CBD - West       7475
2   206041505   Melbourne CBD - West       7475
3   206011495      Brunswick - North      11981
4   206041119         East Melbourne       5238
5   206041505   Melbourne CBD - West       7475
6   206051513     St Kilda - Central      10751
7   206041504  Melbourne CBD - North       6401
8   206011495      Brunswick - North      11981
9   206041119         East Melbourne       5238
10  206011495      Brunswick - North      11981
11  206051134          St Kilda East      16686
12  206011495      Brunswick - North      11981
13  206041503   Melbourne CBD - East       7939
14  206041505   Melbourne CBD - West       7475
15  206071141            Collingwood       6867
16  206041119         East Melbourne       5238
17  206041119         East Melbourne       5238
18  206041503   Melbourne CBD - East       7939
19  206041505   Melbourne CBD - West       7475

Remove rows that have missing values as there should be extremely few of them

In [14]:
import pandas as pd

# Check for missing values in each column
missing_counts = merged_df.isna().sum()

# Display the number of missing values for each column
print("Missing values per column:")
print(missing_counts)
print("\n")

# Check if any rows have missing values in critical columns
critical_columns = ['population', 'suburb_x', 'year', 'latitude', 'longitude']  # Adjust this list as needed
missing_critical = merged_df[critical_columns].isna().any(axis=1)

# Display rows with missing values in critical columns
print("Rows with missing values in critical columns:")
print(merged_df[missing_critical])

Missing values per column:
state             0
suburb_x          0
bedrooms          0
bathrooms         0
propertyTypes     0
carspaces         0
date_listed       0
latitude          0
longitude         0
price             0
is_furnished      0
year              0
month             0
day               0
SA2_CODE21       13
suburb_y         13
population       13
dtype: int64


Rows with missing values in critical columns:
       state         suburb_x  bedrooms  bathrooms        propertyTypes  \
5249     vic    Glen Waverley       5.0        2.0              [house]
5355     vic   Mount Waverley       1.0        1.0              [house]
9395     vic        RESERVOIR       2.0        1.0  [apartmentUnitFlat]
9396     vic           EPPING       4.0        2.0          [townhouse]
34723    vic        BRUNSWICK       3.0        3.0          [townhouse]
54316    vic        Southbank       2.0        1.0  [apartmentUnitFlat]
75372    vic         BALLARAT       3.0        1.0              [house]
128148   vic      SOUTH YARRA       2.0        1.0  [apartmentUnitFlat]
128326   vic          Prahran       2.0        1.0  [apartmentUnitFlat]
138343   vic     SUNSET STRIP       3.0        1.0              [house]
143761   vic          SUNBURY       2.0        1.0              [house]
148505   vic          SEAFORD       4.0        2.0              [house]
148512   vic  FRANKSTON SOUTH       3.0        2.0              [house]

        carspaces date_listed  latitude  longitude  price  is_furnished  year  \
5249          2.0  2011-06-28       0.0        0.0  510.0             0  2011
5355          0.0  2012-01-17       0.0        0.0  250.0             1  2012
9395          1.0  2011-06-28       0.0        0.0  320.0             0  2011
9396          2.0  2011-06-28       0.0        0.0  360.0             0  2011
34723         2.0  2011-06-29       0.0        0.0  640.0             0  2011
54316         1.0  2014-09-10       0.0        0.0  600.0             0  2014
75372         1.0  2011-06-28       0.0        0.0  220.0             0  2011
128148        1.0  2011-06-28       0.0        0.0  380.0             0  2011
128326        1.0  2012-10-02       0.0        0.0  450.0             0  2012
138343        0.0  2013-05-15       0.0        0.0  250.0             0  2013
143761        1.0  2012-03-19       0.0        0.0  270.0             0  2012
148505        3.0  2013-03-13       0.0        0.0  430.0             0  2013
148512        3.0  2013-03-19       0.0        0.0  450.0             0  2013

        month  day SA2_CODE21 suburb_y population
5249        6   28       None      NaN        NaN
5355        1   17       None      NaN        NaN
9395        6   28       None      NaN        NaN
9396        6   28       None      NaN        NaN
34723       6   29       None      NaN        NaN
54316       9   10       None      NaN        NaN
75372       6   28       None      NaN        NaN
128148      6   28       None      NaN        NaN
128326     10    2       None      NaN        NaN
138343      5   15       None      NaN        NaN
143761      3   19       None      NaN        NaN
148505      3   13       None      NaN        NaN
148512      3   19       None      NaN        NaN

In [15]:
critical_columns = ['population', 'suburb_x', 'year', 'latitude', 'longitude']

# Drop rows with missing values in these critical columns
cleaned_df = merged_df.dropna(subset=critical_columns)

# Display the shape of the DataFrame before and after dropping rows
print(f"Original DataFrame shape: {merged_df.shape}")
print(f"DataFrame shape after dropping rows with missing values: {cleaned_df.shape}")

Original DataFrame shape: (151815, 17)
DataFrame shape after dropping rows with missing values: (151802, 17)

Now, we move on to joining this new dataframe with the distances of the closest amenity to each listing.

In [17]:
# File path to the parquet file
distances_file = '../data/curated/preprocessed_rent_distances_data.parquet'

# Load the parquet file into a DataFrame
distances_data = pd.read_parquet(distances_file)

In [28]:
distances_data.count()

csv_latitude              147647
csv_longitude             147647
distance_to_bus_stop      147647
distance_to_train_stop    147647
distance_to_tram_stop     147647
dtype: int64

In [30]:
# Check for uniqueness in both DataFrames
print(cleaned_df[['latitude', 'longitude']].duplicated().sum())
print(distances_data[['csv_latitude', 'csv_longitude']].duplicated().sum())

72412
81308

In [31]:
distances_data = distances_data.drop_duplicates(subset=['csv_latitude', 'csv_longitude'])

Join the dataframe with the distances data

In [34]:
distances_data = distances_data.rename(columns={
    'latitude': 'csv_latitude',
    'longitude': 'csv_longitude'
})

# Merge the additional data with cleaned_df based on latitude and longitude
merged_with_additional = pd.merge(
    cleaned_df, distances_data, how='left',
    left_on=['latitude', 'longitude'],
    right_on=['csv_latitude', 'csv_longitude']
)

# Drop the extra columns used for merging, if you don't need them
merged_with_additional = merged_with_additional.drop(columns=['csv_latitude', 'csv_longitude'])

In [36]:
# Check for duplicates in the merged DataFrame
merged_with_additional.count()

state                     151802
suburb_x                  151802
bedrooms                  151802
bathrooms                 151802
propertyTypes             151802
carspaces                 151802
date_listed               151802
latitude                  151802
longitude                 151802
price                     151802
is_furnished              151802
year                      151802
month                     151802
day                       151802
SA2_CODE21                151802
suburb_y                  151802
population                151802
distance_to_bus_stop      114642
distance_to_train_stop    114642
distance_to_tram_stop     114642
dtype: int64

In [37]:
# Display the first few rows to verify the merge
print(merged_with_additional.head())

# Optionally, check for any missing values in the new columns
print("Missing values in new columns:")
print(merged_with_additional[['distance_to_bus_stop', 'distance_to_train_stop', 'distance_to_tram_stop']].isna().sum())

  state        suburb_x  bedrooms  bathrooms        propertyTypes  carspaces  \
0   vic       Melbourne       1.0        1.0  [apartmentUnitFlat]        0.0
1   vic       Melbourne       2.0        1.0  [apartmentUnitFlat]        1.0
2   vic       Melbourne       1.0        1.0  [apartmentUnitFlat]        0.0
3   vic  Brunswick East       2.0        1.0  [apartmentUnitFlat]        1.0
4   vic  East Melbourne       2.0        1.0  [apartmentUnitFlat]        1.0

  date_listed   latitude   longitude  price  is_furnished  year  month  day  \
0  2011-01-15 -37.815016  144.965968  380.0             0  2011      1   15
1  2011-01-17 -37.816257  144.953288  550.0             0  2011      1   17
2  2011-01-17 -37.821294  144.955768  370.0             0  2011      1   17
3  2011-01-31 -37.760855  144.961691  429.0             0  2011      1   31
4  2011-02-14 -37.810074  144.985476  460.0             0  2011      2   14

  SA2_CODE21              suburb_y population  distance_to_bus_stop  \
0  206041503  Melbourne CBD - East       7939              0.003576
1  206041505  Melbourne CBD - West       7475              0.001879
2  206041505  Melbourne CBD - West       7475              0.002997
3  206011495     Brunswick - North      11981              0.000593
4  206041119        East Melbourne       5238              0.001944

   distance_to_train_stop  distance_to_tram_stop
0                0.003437               0.000591
1                0.002518               0.000837
2                0.005501               0.000457
3                0.001079               0.001400
4                0.006598               0.000825
Missing values in new columns:
distance_to_bus_stop      37160
distance_to_train_stop    37160
distance_to_tram_stop     37160
dtype: int64

In [38]:
# Drop rows with missing values in any of the distance columns
distance_columns = ['distance_to_bus_stop', 'distance_to_train_stop', 'distance_to_tram_stop']
cleaned_with_distances = merged_with_additional.dropna(subset=distance_columns)

# Display the shape of the DataFrame before and after dropping rows
print(f"Original DataFrame shape: {merged_with_additional.shape}")
print(f"DataFrame shape after dropping rows with missing distance values: {cleaned_with_distances.shape}")

# Optionally, reset the index
cleaned_with_distances.reset_index(drop=True, inplace=True)

# Display the first few rows to verify
print(cleaned_with_distances.head())

Original DataFrame shape: (151802, 20)
DataFrame shape after dropping rows with missing distance values: (114642, 20)
  state        suburb_x  bedrooms  bathrooms        propertyTypes  carspaces  \
0   vic       Melbourne       1.0        1.0  [apartmentUnitFlat]        0.0
1   vic       Melbourne       2.0        1.0  [apartmentUnitFlat]        1.0
2   vic       Melbourne       1.0        1.0  [apartmentUnitFlat]        0.0
3   vic  Brunswick East       2.0        1.0  [apartmentUnitFlat]        1.0
4   vic  East Melbourne       2.0        1.0  [apartmentUnitFlat]        1.0

  date_listed   latitude   longitude  price  is_furnished  year  month  day  \
0  2011-01-15 -37.815016  144.965968  380.0             0  2011      1   15
1  2011-01-17 -37.816257  144.953288  550.0             0  2011      1   17
2  2011-01-17 -37.821294  144.955768  370.0             0  2011      1   17
3  2011-01-31 -37.760855  144.961691  429.0             0  2011      1   31
4  2011-02-14 -37.810074  144.985476  460.0             0  2011      2   14

  SA2_CODE21              suburb_y population  distance_to_bus_stop  \
0  206041503  Melbourne CBD - East       7939              0.003576
1  206041505  Melbourne CBD - West       7475              0.001879
2  206041505  Melbourne CBD - West       7475              0.002997
3  206011495     Brunswick - North      11981              0.000593
4  206041119        East Melbourne       5238              0.001944

   distance_to_train_stop  distance_to_tram_stop
0                0.003437               0.000591
1                0.002518               0.000837
2                0.005501               0.000457
3                0.001079               0.001400
4                0.006598               0.000825

In [39]:
cleaned_with_distances.count()

state                     114642
suburb_x                  114642
bedrooms                  114642
bathrooms                 114642
propertyTypes             114642
carspaces                 114642
date_listed               114642
latitude                  114642
longitude                 114642
price                     114642
is_furnished              114642
year                      114642
month                     114642
day                       114642
SA2_CODE21                114642
suburb_y                  114642
population                114642
distance_to_bus_stop      114642
distance_to_train_stop    114642
distance_to_tram_stop     114642
dtype: int64

In [40]:
model_df = cleaned_with_distances.copy()

Engineer features that will assist with modelling

In [41]:
# Example: Interaction between number of bedrooms and bathrooms
model_df['bed_bath_interaction'] = model_df['bedrooms'] * model_df['bathrooms']

In [44]:
# Create a new column for the reference date
reference_date = pd.Timestamp('2011-01-01')

# Create a new column 'date_numeric' to store the number of days since the reference date
model_df['date_numeric'] = pd.to_datetime(model_df[['year', 'month', 'day']]) - reference_date
model_df['date_numeric'] = model_df['date_numeric'].dt.days

# Drop the original year, month, and day columns if no longer needed
model_df = model_df.drop(columns=['month', 'day'])

In [45]:
print(model_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114642 entries, 0 to 114641
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   bedrooms                114642 non-null  float64
 1   bathrooms               114642 non-null  float64
 2   propertyTypes           114642 non-null  object
 3   carspaces               114642 non-null  float64
 4   date_listed             114642 non-null  datetime64[ns]
 5   latitude                114642 non-null  float64
 6   longitude               114642 non-null  float64
 7   price                   114642 non-null  float64
 8   is_furnished            114642 non-null  int64
 9   year                    114642 non-null  int32
 10  SA2_CODE21              114642 non-null  object
 11  suburb_y                114642 non-null  object
 12  population              114642 non-null  object
 13  distance_to_bus_stop    114642 non-null  float64
 14  distance_to_train_stop  114642 non-null  float64
 15  distance_to_tram_stop   114642 non-null  float64
 16  bed_bath_interaction    114642 non-null  float64
 17  date_numeric            114642 non-null  int64
dtypes: datetime64[ns](1), float64(10), int32(1), int64(2), object(4)
memory usage: 15.3+ MB
None

In [53]:
model_df = model_df.drop(columns=['date_listed', 'suburb_y', 'suburb_x', 'state'])

In [55]:
# Save the DataFrame to a Parquet file
output_file = '../data/curated/model_data.parquet'
model_df.to_parquet(output_file, index=False)