This notebook forecasts population in Victorian suburbs using the ARIMA time series model for 2025-2027. The model utilises fertility and birth rates data obtained from the ABS from 2011-2022

In [1]:
import pandas as pd

In [2]:
#change this before pushing to git
df = pd.read_excel('/Users/danielletran/Downloads/33010DO002_2022_ST_AUST (1).xlsx', sheet_name='Table 2.2')

In [3]:
row = df.iloc[7] 
null_columns = [idx for idx, val in enumerate(row) if pd.isnull(val)]
years = [2011, 2012, 2013, 2014,2015, 2016,2017,2018,2019,2020,2021,2022]

In [4]:
df_first_row = df.iloc[5].copy()

# Step 1: Rename NaN entries in the first row
df_first_row[df.columns.get_loc('Unnamed: 1')] = 'Suburb Name'

for i, year in enumerate(years):
    base_index = 2 + (i * 4)  # Start at 2 and increment by 4 for each year
    
    df_first_row[df.columns.get_loc(f"Unnamed: {base_index}")] = f"Estimated resident population_{year}"
    df_first_row[df.columns.get_loc(f"Unnamed: {base_index + 1}")] = f'Births_{year}'
    df_first_row[df.columns.get_loc(f'Unnamed: {base_index + 2}')] = f'Total_fertility_rate_{year}'


df.iloc[5] = df_first_row

# Step 2: Set the 5th row (index 5) as the header
df.columns = df.iloc[5]  # Use the 5th row as the new header
df = df.drop(5)  # Drop the row that has been used as the header

df = df.iloc[6:]
df = df.reset_index(drop = True)
df = df.dropna(axis = 1, how = 'all')
df = df.dropna()

# Create new columns with year-specific names


# Display the resulting DataFrame
df.head(50)

/var/folders/d7/txwpjbw51x93gd5ncp54kh800000gn/T/ipykernel_63631/1927285439.py:4: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_first_row[df.columns.get_loc('Unnamed: 1')] = 'Suburb Name'
/var/folders/d7/txwpjbw51x93gd5ncp54kh800000gn/T/ipykernel_63631/1927285439.py:9: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_first_row[df.columns.get_loc(f"Unnamed: {base_index}")] = f"Estimated resident population_{year}"
/var/folders/d7/txwpjbw51x93gd5ncp54kh800000gn/T/ipykernel_63631/1927285439.py:10: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_first_row[df.columns.get_loc(f"Unnamed: {base_index + 1}")] = f'Births_{year}'
/var/folders/d7/txwpjbw51x93gd5ncp54kh800000gn/T/ipykernel_63631/1927285439.py:11: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  df_first_row[df.columns.get_loc(f'Unnamed: {base_index + 2}')] = f'Total_fertility_rate_{year}'

5,Place of Usual Residence,Suburb Name,Estimated resident population_2011,Births_2011,Total_fertility_rate_2011,Estimated resident population_2012,Births_2012,Total_fertility_rate_2012,Estimated resident population_2013,Births_2013,...,Total_fertility_rate_2019,Estimated resident population_2020,Births_2020,Total_fertility_rate_2020,Estimated resident population_2021,Births_2021,Total_fertility_rate_2021,Estimated resident population_2022,Births_2022,Total_fertility_rate_2022
0,206011106,Brunswick East,8966,102,np,9208,116,np,9870,105,...,0.87,13064,116,0.78,12964,143,0.77,13296,143,0.75
1,206011107,Brunswick West,13864,180,np,13963,199,np,14057,184,...,1.12,15010,169,1.07,14497,159,1.07,14684,134,0.98
2,206011109,Pascoe Vale South,9860,145,np,9954,135,np,10038,121,...,1.6,10836,101,1.42,10463,113,1.46,10413,104,1.41
3,206011495,Brunswick - North,11981,192,np,12254,173,np,12548,167,...,1.17,14124,142,1.07,13077,129,0.99,13254,129,0.92
4,206011496,Brunswick - South,12006,159,np,12402,153,np,12836,165,...,1.01,14235,155,0.97,13208,134,0.92,13364,117,0.84
5,206011497,Coburg - East,12236,181,np,12483,191,np,12655,163,...,1.3,13265,158,1.23,12675,144,1.18,12949,153,1.15
6,206011498,Coburg - West,13998,226,np,14057,243,np,14188,196,...,1.68,14523,172,1.55,14184,179,1.54,14102,146,1.41
7,20601,Brunswick - Coburg,82911,1185,np,84321,1210,np,86192,1101,...,1.18,95057,1013,1.09,91068,1001,1.07,92062,926,1
8,206021110,Alphington - Fairfield,8561,96,np,8706,118,np,8827,105,...,1.24,9538,90,1.14,9069,98,1.19,9156,94,1.14
9,206021112,Thornbury,18258,275,np,18484,316,np,18773,279,...,1.34,19791,236,1.25,19153,214,1.18,19177,224,1.12
10,206021499,Northcote - East,14727,191,np,14881,213,np,15132,191,...,1.1,16183,151,1.03,15229,154,1.03,15131,147,1.05
11,206021500,Northcote - West,9425,153,np,9538,140,np,9850,124,...,1.1,10887,92,1.05,10424,82,0.94,10480,90,0.84
12,20602,Darebin - South,50971,715,np,51609,787,np,52582,699,...,1.21,56399,569,1.13,53875,548,1.09,53944,555,1.04
13,206031113,Ascot Vale,14135,257,np,14309,238,np,14491,236,...,1.8,15784,207,1.67,15351,223,1.61,15179,192,1.5
14,206031115,Flemington,9547,141,np,9791,182,np,10068,169,...,1.37,10270,128,1.31,9181,121,1.2,9188,114,1.18
15,206031116,Moonee Ponds,14168,183,np,14436,218,np,14666,172,...,1.35,16639,168,1.23,16400,156,1.23,16579,141,1.05
16,206031501,Essendon (West) - Aberfeldie,14803,127,np,15048,141,np,15304,128,...,1.16,16920,133,1.09,16175,137,1.17,16176,128,1.21
17,206031502,Essendon - East,11042,116,np,11121,115,np,11327,126,...,1.1,12763,105,1.01,12314,108,1.01,12288,105,0.96
18,20603,Essendon,63695,824,np,64705,894,np,65856,831,...,1.37,72376,741,1.27,69421,745,1.25,69410,680,1.18
19,206041117,Carlton,15122,125,np,15605,113,np,16719,111,...,0.68,20865,92,0.55,17064,88,0.54,18004,93,0.56
20,206041118,Docklands,6196,57,np,6802,67,np,7988,97,...,0.88,16671,163,0.83,15905,215,0.85,16456,154,0.78
21,206041119,East Melbourne,5238,48,np,5280,46,np,5333,44,...,0.65,5383,39,0.71,4959,28,0.64,4884,35,0.72
22,206041120,Flemington Racecourse,86,0,np,87,0,np,88,0,...,np,81,3,np,78,0,np,78,0,np
23,206041121,Kensington (Vic.),10259,195,np,10487,186,np,10762,182,...,1.23,11416,154,1.17,10872,159,1.22,11000,142,1.19
24,206041124,Parkville,6551,41,np,6872,37,np,7174,40,...,0.8,8318,59,0.84,7428,51,0.82,7462,37,0.84
25,206041125,South Yarra - West,6426,60,np,6400,57,np,6393,50,...,0.86,6960,109,0.99,6536,90,1.14,6565,61,1.23
26,206041127,West Melbourne - Industrial,0,0,np,0,0,np,0,0,...,np,0,0,np,0,0,np,0,0,np
27,206041503,Melbourne CBD - East,7939,47,np,8374,57,np,9646,49,...,0.61,12346,50,0.53,10119,54,0.44,10655,56,0.45
28,206041504,Melbourne CBD - North,6401,43,np,7880,50,np,9591,39,...,0.52,19155,45,0.42,17360,66,0.3,18826,78,0.34
29,206041505,Melbourne CBD - West,7475,66,np,8628,45,np,10413,64,...,0.45,18796,92,0.44,16098,95,0.41,17299,74,0.38
30,206041506,North Melbourne,12629,132,np,13321,169,np,14175,150,...,0.88,18154,153,0.86,15945,131,0.8,16582,115,0.75
31,206041507,Royal Botanic Gardens Victoria,0,0,np,0,0,np,0,0,...,np,0,0,np,0,0,np,0,0,np
32,206041508,Southbank (West) - South Wharf,4759,48,np,5350,47,np,6091,44,...,0.78,7551,57,0.75,6607,54,0.71,6814,37,0.57
33,206041509,Southbank - East,7415,69,np,8396,90,np,9873,102,...,0.66,17305,132,0.64,16506,149,0.62,17340,152,0.62
34,206041510,West Melbourne - Residential,3732,37,np,4091,51,np,4461,29,...,0.68,7567,62,0.69,7614,73,0.64,8014,53,0.63
35,20604,Melbourne City,100228,968,np,107573,1015,np,118707,1001,...,0.73,170568,1210,0.69,153091,1253,0.67,159979,1087,0.65
36,206051128,Albert Park,15009,213,np,15142,205,np,15282,193,...,1.3,16955,176,1.27,16011,169,1.24,16161,139,1.19
37,206051129,Elwood,15666,211,np,15807,232,np,15910,248,...,1.16,15925,163,1.13,15032,181,1.07,14873,182,1.02
38,206051130,Port Melbourne,15413,235,np,15964,235,np,16498,262,...,1.34,16998,182,1.23,16366,176,1.24,16376,188,1.29
39,206051134,St Kilda East,16686,261,np,16755,252,np,16912,231,...,1.19,17259,221,1.13,16073,190,1.09,15989,162,1.01
40,206051511,Port Melbourne Industrial,71,0,np,79,0,np,88,4,...,np,1709,14,0.72,1944,23,0.71,2228,22,0.72
41,206051512,South Melbourne,10340,139,np,10927,144,np,11452,151,...,1.19,12721,130,1.11,11856,108,1.01,11873,114,1.03
42,206051513,St Kilda - Central,10751,104,np,11323,137,np,11798,106,...,0.84,13380,129,0.83,12086,107,0.78,12241,123,0.8
43,206051514,St Kilda - West,13340,111,np,13910,126,np,14229,109,...,0.87,15648,109,0.82,14090,133,0.79,14264,115,0.75
44,20605,Port Phillip,97276,1274,np,99907,1331,np,102169,1304,...,1.12,110595,1124,1.06,103458,1087,1.02,104005,1045,0.99
45,206061135,Armadale,9301,95,np,9308,124,np,9338,126,...,1.24,10075,98,1.1,9433,100,1.11,9369,83,1.05
46,206061136,Prahran - Windsor,18738,212,np,19401,220,np,19977,256,...,0.99,20847,213,0.95,19444,223,0.97,19269,196,0.93
47,206061138,Toorak,13768,97,np,13795,93,np,13841,89,...,1.02,13644,76,0.99,13096,93,0.99,13118,95,1.04
48,206061515,South Yarra - North,6320,55,np,7357,71,np,8102,55,...,0.75,12223,78,0.62,11449,87,0.63,11779,66,0.55
49,206061516,South Yarra - South,9458,119,np,9759,137,np,9960,119,...,0.98,11285,88,0.88,10097,103,0.85,9946,87,0.79

In [5]:
#simple google search to impute the medians for the year
df['Total_fertility_rate_2011'] = 1.748
df['Total_fertility_rate_2012'] = 1.9

Now we are going to start our eda

In [12]:
import pandas as pd
import numpy as np
from statsmodels.tsa.arima.model import ARIMA
from pmdarima import auto_arima
import warnings
warnings.filterwarnings('ignore')

# Assuming df is your DataFrame as shown in the image

# Function to forecast population for a single suburb
def forecast_suburb(suburb_data):
    model = auto_arima(suburb_data, start_p=0, start_q=0, max_p=5, max_q=5, m=1,
                       d=1, seasonal=False, trace=False,
                       error_action='ignore', suppress_warnings=True, stepwise=True)
    
    forecast = model.predict(n_periods=5)  # Forecasting five steps ahead (2023 - 2027)
    return forecast

# Prepare data for forecasting
population_columns = [f'Estimated resident population_{year}' for year in range(2011, 2023)]
forecasts = []

for _, row in df.iterrows():
    suburb_code = row['Place of Usual Residence']
    suburb_name = row['Suburb Name']
    suburb_data = row[population_columns].values
    forecast = forecast_suburb(suburb_data)
    forecasts.append({
        'Code': suburb_code,
        'Suburb': suburb_name,
        '2023_Forecast': round(forecast[0]),
        '2024_Forecast': round(forecast[1]),
        '2025_Forecast': round(forecast[2]),
        '2026_Forecast': round(forecast[3]),
        '2027_Forecast': round(forecast[4]),
    })

# Create a DataFrame with the results
forecast_df = pd.DataFrame(forecasts)

print(forecast_df)

          Code                      Suburb  2023_Forecast  2024_Forecast  \
0    206011106              Brunswick East          13690          14083
1    206011107              Brunswick West          14684          14684
2    206011109           Pascoe Vale South          10388          10375
3    206011495           Brunswick - North          13254          13254
4    206011496           Brunswick - South          13364          13364
..         ...                         ...            ...            ...
603  217041480         Warrnambool - South          13331          13347
604      21704                 Warrnambool          53358          53704
605        217  Warrnambool and South West         128119         128579
606      2RVIC                Rest of Vic.        1610387        1630549
607          2              Total Victoria        6724886        6823809

     2025_Forecast  2026_Forecast  2027_Forecast
0            14477          14871          15264
1            14684          14684          14684
2            10368          10364          10363
3            13254          13254          13254
4            13364          13364          13364
..             ...            ...            ...
603          13362          13378          13394
604          54056          54412          54769
605         129039         129499         129959
606        1650710        1670871        1691033
607        6922731        7021654        7120576

[608 rows x 7 columns]

In [15]:
forecast_df.to_csv('/Users/danielletran/Desktop/ADS_A2/project-2-group-real-estate-industry-project-34/data/landing/forecasted_populations.csv')